@using Microsoft.AspNetCore.Components.Authorization
@inject ICartService CartService
@inject NavigationManager Navigation
@implements IDisposable
@rendermode InteractiveServer
@using EShop.Services

<CascadingAuthenticationState>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">EShop</a>
                    <span class="badge bg-light text-danger ms-2">ADMIN PANEL</span>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                    Home
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="admin/products">
                                    Manage Products
                                </NavLink>
                            </li>
                        </ul>
                        
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/auth/logout" class="nav-link" data-enhance-nav="false">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </Authorized>
        <NotAuthorized>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">EShop</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                    Home
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="products">
                                    Products
                                </NavLink>
                            </li>
                        </ul>
                        
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="cart">
                                    <i class="bi bi-cart"></i> Cart
                                    @if (cartCount > 0)
                                    {
                                        <span class="badge bg-primary ms-1">@cartCount</span>
                                    }
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="admin/login">
                                    Login
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private int cartCount = 0;
    private System.Threading.Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        await UpdateCartCount();
        
        // Update cart count every 2 seconds
        timer = new System.Threading.Timer(async _ =>
        {
            await UpdateCartCount();
            await InvokeAsync(StateHasChanged);
        }, null, TimeSpan.FromSeconds(2), TimeSpan.FromSeconds(2));
    }

    private async Task UpdateCartCount()
    {
        cartCount = await CartService.GetCartCountAsync();
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}


