@page "/"

<PageTitle>EShop - Welcome</PageTitle>

<h1>Welcome to EShop!</h1>

<p>Your online shopping destination.</p>

<div class="row">
    <div class="col-md-12 text-center">
        <h3>Browse Products</h3>
        <p>Discover our amazing collection of products.</p>
        <a href="/products" class="btn btn-primary btn-lg">View Products</a>
    </div>
</div>
